body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #111633, #050816);
  color: white;
  text-align: center;
  font-size: 18px;
}

.container {
  padding: 60px 20px;
  max-width: 500px;
  margin: auto;
}

h1 {
  font-size: 36px;
}

.status {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

.card {
  font-size: 18px;
  padding: 25px;
  border-radius: 30px;
  width: 100%;
  max-width: 350px;   
  
  display: block;
  background: #0f172a;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card:hover {
  transform: scale(1.05);
  background: #1e293b;
}

#gate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at top, #111633, #050816);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}
.container {
  opacity: 0;
  transition: opacity 0.5s ease;

  padding: 60px 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  }
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
